/* adding important to override main styles. */
#header .image.avatar {
  width: 160px !important;   
}

#header .image.avatar img {
  width: 160px !important;
  height: 160px !important;
  object-fit: cover;
  border-radius: 50%;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}

.contact-info li {
  margin: 0.25em;
  display: flex-end;
  align-items: center;
}

.contact-info li .icon {
  margin-right: 0.5em;
  color: #fff; 
}

#graphic {
    overflow: visible;
}
